@charset "UTF-8";

@import url("//fonts.googleapis.com/css?family=Quicksand:400,600,700,800,900");
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,900");
:root {
    --primary: #222E50;
    --secondary: #24C7A1;
    --tertiary: #50729A;
    --quaternary: #1E293B;
    --gray: #88938A;
    --light: #fff;
}
html { overflow-x: hidden; }
.color-secondary {color: var(--secondary);}
.color-gray {color: var(--gray);}
.title-section {
    color: var(--secondary);
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
}
.sub-title-section {
    color: var(--light);
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 6rem;
}

/* Navbar */
.navbar-brand {
    color: var(--secondary);
    font-family:'Quicksand', sans-serif;
    font-size: 32px;
    font-weight: 900;
    line-height: 50px;
}
.navbar-brand:hover, .navbar-brand:active {color: #24C7A1;}
.nav-link {
    color: var(--light);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 24px 40px 24px !important;
    position: relative;
    display: block;
}
.nav-link:after {
    background: var(--secondary);
    content: '';
    display: inline-block;
    height: 4px;
    width: 0;
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 300ms;
}
.nav-item.active .nav-link, .nav-item .nav-link:hover {color: var(--secondary);}
.nav-item.active .nav-link:after, .nav-item .nav-link:hover::after {
    width: 100%;
    right: inherit;
}
.navbar-transparent {
    background-color: transparent;
    backdrop-filter: blur(5px);
    transition: backdrop-filter 0.3s ease-in-out;
  }
.navbar.scrolled {
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}
.navbar.scrolled .navbar-transparent {
    backdrop-filter: none;
}
/* End */
.hero {
    background-color: var(--primary);
    height: auto;
    width: auto;
    padding-top: 20rem;
}
.my-name {
    color: #24C7A1;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}
.title {
    color: var(--gray);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 22px;
    overflow:hidden;
    transition: 1.2s;
  }
  .title .cursor {
    overflow: hidden;
    border-right: .15em solid var(--light);
    white-space: nowrap;
    margin-left:.1rem;
    letter-spacing: .15em;
    animation: typing 3s steps(40, end), blink-caret .75s step-end infinite;
  }
  /* typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  /* typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--light); }
  }
.slogan {
    color: var(--light);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-top: 2rem;
}
.slogan strong {color: var(--secondary);}
.btn-resume {
    color: var(--light);
    background-color: var(--secondary);
    font-size: 22px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    border-radius: 25px;
    text-decoration: none;
    padding: 12px 42px;
    transition: all .4s ease-out;
}
.btn-resume:hover{
    background-color: #1ce4b5;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    -moz-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.btn-email, .btn-github, .btn-linkedin {
    font-size: 42px;
    text-decoration: none;
    color: var(--light);
    position: absolute;
    margin-top: -1rem;
    transition: color .4s ease-out;
}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .btn-email { margin-left: 2rem; }
    .btn-github { margin-left: 6rem !important; }
    .btn-linkedin { margin-left: 10rem !important; }
}
@media only screen and (max-width: 991px) {
    .btn-email,.btn-github,.btn-linkedin { margin-top: 1rem !important; }
}
.btn-github {margin-left: 4rem;}
.btn-linkedin {margin-left: 8rem;}
.btn-email:hover, .btn-github:hover, .btn-linkedin:hover {color: #cecece;}
.elevator-pitch {
    color: var(--light);
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
.elevator-pitch { margin-top: 5rem; }
.elevator-pitch span {color: var(--gray); transition: color .3s ease-out;}
.elevator-pitch span:hover {color: #cecece;}
.my-pict {
    background-image: url(../img/blob.svg);
    background-position-x: .8rem;
    background-position-y: 1.5rem;
    background-size: 90%;
    background-repeat: no-repeat;
    border-radius: 50px;
    margin-top: -6rem;
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
    .my-pict { margin-top: 0 !important; }
}
@media only screen and (max-width: 767px) {
    .my-pict { margin-top: 10rem !important; }
    .pict-sm { text-align: center !important; }
}
.hero-left, .hero-right, .hero-bottom {
    animation-duration: 2s;
    animation-timing-function: ease-out;
    opacity: 0;
}
.hero-left {animation-name: slide-in-left;}
.hero-right {animation-name: slide-in-right;}
.hero-bottom {animation-name: slide-in-bottom;}

/* Animasi muncul dari sebelah kiri */
@keyframes slide-in-left {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}
/* Animasi muncul dari sebelah kanan */
@keyframes slide-in-right {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}
/* Animasi muncul dari bawah */
@keyframes slide-in-bottom {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}
/* End */

/* About */
.about {
    background-color: var(--primary);
    height: auto;
    width: auto;
    padding-top: 10rem;
    padding-bottom: 2rem;
}
.about h3, .about-content p { font-family: 'Open Sans', sans-serif; color: var(--light);}
.about-content p { font-size: 18px; font-weight: 500; text-align: justify;}
/* End */

/* Portfolio */
.portfolio {
    background-color: var(--quaternary);
    height: auto;
    width: auto;
    padding-top: 10rem;
    padding-bottom: 4rem;
}
.portfolio-content img {
    height: 317px;
    width: 600;
    border-radius: 10px;
    transition: box-shadow .4s ease-out;
}
.portfolio-content img:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    -moz-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.portfolio-content a h3 {
    color: var(--secondary);
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
    transition: color .3s ease-out;
}
.portfolio-content a:hover h3 {color: #1ce4b5;}
.portfolio p {
    color: var(--gray);
    font-weight: 500;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
/* End */

/* Company */
.company {
    background-color: var(--tertiary);
    height: auto;
    width: auto;
    padding-top: 10rem;
    padding-bottom: 6rem;
}
.logo-company {
    filter: grayscale(100%);
    height: 60px;
    width: auto;
    transition: all .4s ease-out;}
.logo-company:hover {filter:none;}
/* End */

/* Back to top */
#btn-back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    font-size: 30px;
    padding: 12px 24px;
    z-index: 99;
    background-color: var(--secondary);
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    -moz-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
	transform: translateY(0%);
	transition: all ease-out .3s;
    display: none;
}
#btn-back-to-top:hover {
    background-color: #1ce4b5;
    transform: translateY(-25%);
}
/* End */

/* Footer */
footer {
    background-color: #141d2a;
    color: #fff;
    padding-top: 8rem;
    padding-bottom: 1rem;
}
.brand-footer {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}
.footer-quote {text-align: justify;}
footer .btn-email, footer .btn-github, footer .btn-linkedin {margin-top: 4rem;}
/* End */
